@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Noto Sans", sans-serif;
}

.card:hover {
  transform: scale(1.054);
}
.card {
  transition: transform 0.5s;
}

.bg-shadow{
  box-shadow: 40px 25px 70px 70px black;
}